:root {
  --accent-color: rgba(33, 150, 243, 1);
  --background: rgba(47, 48, 58, 1);
  --white: #ffffff;
  --transparent: rgba(255, 255, 255, 0.6);
  --grey: #757575;
  --white-not-transparent: rgba(255, 255, 255, 1);
  --blue: #2196F3;
  --black: rgba(0, 0, 0, 1);
  --blue-for-modal-button: #188CE8;
  --white-for-background-buttons: rgba(245, 244, 250, 1);
  --background-for-section-team: #F5F4FA;
  --black-for-projects: #212121;
  --black-transparent: rgba(33, 33, 33, 0.2);
  --another-grey: #AFB1B8;
  --transition-duration-function: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

h1,
h2,
h3,
p {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

button {
  font-family: inherit;
  font-size: inherit;
  cursor: pointer;
}

body {
  font-family: "Roboto", "Raleway", sans-serif;
  color: #212121;
  font-size: 14px;
  letter-spacing: 0.03em;
  background-color: #ffffff;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

.modal-button {
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  color: var(--white);
  background-color: var(--blue-for-modal-button);
  cursor: pointer;
  border: 0px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  padding: 10px 32px;
}
.modal-button:hover, .modal-button:focus {
  background-color: var(--blue-for-modal-button);
}

.benefits-description {
  line-height: 1.71;
  color: var(--grey);
}

.team__item_position {
  margin-bottom: 16px;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  color: var(--grey);
}

.overlay-activities {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(47, 48, 58, 0.8);
  width: 100%;
  height: 70px;
  right: 0;
  bottom: 0;
  font-style: normal;
  font-family: "Roboto", "Raleway", sans-serif;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #FFFFFF;
}

.solutions-main-caption {
  width: 696px;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
  margin-top: auto;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--white);
}

.benefits-caption {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.benefits-list {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.benefits {
  margin-bottom: 10px;
  justify-content: center;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: inherit;
}

.benefits-points:not(:last-child) {
  margin-right: 30px;
}

.activities-caption {
  padding-top: 0;
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.71;
  text-align: center;
  color: inherit;
}

.team__main-caption {
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  color: inherit;
}

.team__item {
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.16;
  text-align: center;
  color: inherit;
}

.team__social-list {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 10px;
  margin-bottom: 30px;
}

.social-list_link {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  width: 44px;
  height: 44px;
  fill: var(--another-grey);
  transition: background-color var(--transition-duration-function);
}
.social-list_link:hover, .social-list_link:focus {
  background-color: var(--blue);
  fill: var(--white);
}

.social-list_icon {
  width: 20px;
  height: 20px;
  fill: inherit;
  transition: fill var(--transition-duration-function);
}

.ben-vect {
  display: flex;
  flex-basis: calc((100% - 90px) / 4);
  gap: 30px;
}

.vector-item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 270px;
  height: 120px;
  margin-bottom: 30px;
  background-color: #F5F4FA;
  border-radius: 4px;
}

.benefits-vectors {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.item {
  display: block;
  width: 70px;
  height: 70px;
}

.regular-customer {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
  font-family: "Roboto", "Raleway", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}

.cust-vect {
  display: flex;
  flex-basis: calc((100% - 150px) / 6);
  gap: 30px;
}

.customer-list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.customer-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 170px;
  height: 92px;
}
.customer-link:hover .each-item, .customer-link:focus .each-item {
  fill: var(--blue);
  transition: var(--transition-duration-function);
}

.each-item {
  display: block;
  fill: var(--another-grey);
  width: 106px;
  height: 60px;
  position: absolute;
}

.customer-item {
  border: 1px solid var(--another-grey);
  border-radius: 4px;
  fill: var(--another-grey);
  background-color: var(--white);
  transition: border var(--transition-duration-function);
}
.customer-item:hover, .customer-item:focus {
  border: 1px solid var(--blue);
  border-radius: 4px;
}

.header__logo-web {
  display: flex;
  padding-top: 24px;
  padding-bottom: 24px;
  align-items: center;
  margin-right: 93px;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  color: var(--blue);
  text-decoration: none;
}

span {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  color: var(--black);
  text-decoration: none;
}

.for-logo {
  margin-bottom: 20px;
}

.logo-web-footer {
  font-style: normal;
  align-items: center;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  color: var(--blue);
  text-decoration: none;
}

.logo-studio-footer {
  margin-bottom: 20px;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  color: var(--white-not-transparent);
  text-decoration: none;
}

.header {
  border-bottom: 1px solid #ececec;
  width: auto;
}

.header__div {
  display: flex;
  align-items: center;
  height: 80px;
}

.navigation__list_item {
  position: relative;
}
.navigation__list_item:not(:last-child) {
  margin-right: 50px;
  justify-content: center;
  align-items: center;
}

.header__navigation {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.header__navigation_list {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.navigation__list_link {
  position: relative;
  padding-top: 32px;
  padding-bottom: 32px;
  align-items: center;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: inherit;
  text-decoration: none;
  transition: color var(--transition-duration-function);
}
.navigation__list_link:focus, .navigation__list_link:hover {
  color: var(--accent-color);
}

.current {
  color: var(--accent-color);
}
.current::after {
  position: absolute;
  display: block;
  width: 100%;
  height: 4px;
  left: 0;
  bottom: -1px;
  content: "";
  border-radius: 2px;
  background-color: var(--blue);
}

.header__contactlist {
  display: flex;
  margin-left: auto;
  gap: 30px;
}

.header__contactlist_item:not(:first-child) {
  align-items: center;
  margin-left: auto;
}

.contact-link {
  display: flex;
  align-items: center;
  margin-left: auto;
  font-weight: 500;
  padding-top: 32px;
  padding-bottom: 32px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--grey);
  text-decoration: none;
  transition: color var(--transition-duration-function);
}
.contact-link:hover, .contact-link:focus {
  color: var(--blue);
}

.contact-link_smartphone {
  width: 10px;
  height: 16px;
  margin-right: 10px;
  fill: currentColor;
  transition: fill var(--transition-duration-function);
}

.contact-link_envelope {
  width: 16px;
  height: 12px;
  margin-right: 10px;
  fill: currentColor;
  transition: fill var(--transition-duration-function);
}
.contact-link_envelope:hover .envelope, .contact-link_envelope:focus .envelope {
  fill: var(--blue);
}

.hero {
  text-align: center;
  max-width: 1660px;
  margin-left: auto;
  margin-right: auto;
  color: var(--white-not-transparent);
  background-color: var(--background);
  padding: 200px 0;
}

.hero-image {
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../img/people-working.jpg");
  background-size: cover;
  max-width: 1600px;
  margin-right: auto;
  margin-left: auto;
}

.activites {
  padding-top: 0;
}

.activities-list {
  display: flex;
}

.activities-points {
  flex-basis: calc((100% - 60px) / 3);
}
.activities-points:not(:last-child) {
  margin-right: 30px;
}

.ov-activ-parent {
  position: relative;
}

.team {
  background: var(--background-for-section-team);
}

.team__list {
  display: flex;
  justify-content: center;
  align-items: center;
}

.team__list_members {
  background-color: var(--white);
  flex-basis: calc((100% - 90px) / 4);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
.team__list_members:not(:last-child) {
  margin-right: 30px;
}

.team__layout {
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
}

.backdrop {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.2);
  width: 100%;
  height: 100%;
  left: 0px;
  top: 0px;
  z-index: 100;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transform: scale(0.5) var(--transition-duration-function);
}

.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal {
  position: absolute;
  padding: 40px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--white);
  width: 528px;
  height: 581px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

.modal-close-icon {
  width: 11px;
  height: 11px;
  fill: var(--black);
}

.modal-close-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  box-sizing: border-box;
  background-color: transparent;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  padding: 0;
  position: absolute;
  top: 8px;
  right: 8px;
}
.modal-close-button:hover .modal-close-icon, .modal-close-button:focus .modal-close-icon {
  fill: var(--blue);
  transition: var(--transition-duration-function);
}

.modal-form-title {
  font-family: "Roboto", "Raleway", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--black-for-projects);
  margin-bottom: 12px;
}

.modal-form-input-wrapper {
  position: relative;
  display: block;
  font-family: "Roboto", "Raleway", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: var(--grey);
}

.modal-form-input {
  width: 100%;
  height: 40px;
  border-radius: 5px;
  border: 1px solid var(--black-transparent);
  padding-left: 42px;
}
.modal-form-input:focus {
  outline: none;
  border-color: var(--accent-color);
  transition: var(--transition-duration-function);
}

.svg-modal-icon {
  position: absolute;
  display: block;
  top: 50%;
  left: 15px;
  transform: translateY(-50%);
  width: 13px;
  height: 13px;
  fill: #212121;
}

.modal-form-input:focus + .svg-modal-icon {
  fill: var(--blue);
  transition: var(--transition-duration-function);
}

.modal-form {
  display: flex;
  flex-direction: column;
}

.modal-form-field {
  display: block;
  margin-bottom: 10px;
  font-family: "Roboto", "Raleway", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: var(--grey);
}

.modal-item {
  display: block;
  margin-bottom: 4px;
  font-family: "Roboto", "Raleway", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: var(--grey);
}

.modal-form-field-desc {
  display: block;
  margin-bottom: 4px;
  font-family: "Roboto", "Raleway", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: var(--grey);
}

.modal-form-message {
  width: 100%;
  height: 120px;
  border-radius: 5px;
  border: 1px solid var(--black-transparent);
  padding: 12px 16px;
  resize: none;
  transition: border-color var(--transition-duration-function);
}
.modal-form-message:focus {
  outline: none;
  border-color: var(--accent-color);
  transition: var(--transition-duration-function);
}

.modal-form-check-field {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
  margin-top: auto;
  font-family: "Roboto", "Raleway", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--grey);
}

.conditions-link {
  font-family: "Roboto", "Raleway", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--blue);
}

.modal-form-own-checkbox {
  margin-right: 7px;
  width: 16px;
  height: 15px;
  border: 1px solid #303030;
  border-radius: 3px;
  cursor: pointer;
}

.modal-form-own-checkbox-icon {
  display: none;
}

.modal-form-check {
  appearance: none;
  position: absolute;
}
.modal-form-check:focus + .modal-form-own-checkbox {
  border: 1px solid #2196F3;
  box-shadow: 0 0 0 2px rgba(0, 0, 255, 0.5);
  border-radius: 4px;
}

.modal-form-check:checked + .modal-form-own-checkbox {
  background-color: var(--blue);
  transition: var(--transition-duration-function);
}

.modal-form-check:checked + .modal-form-own-checkbox .modal-form-own-checkbox-icon {
  display: block;
  fill: var(--white);
}

.modal-send-btn {
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  color: var(--white);
  background-color: var(--blue-for-modal-button);
  cursor: pointer;
  border: 0px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  padding: 10px 52px;
  margin-left: auto;
  margin-right: auto;
}
.modal-send-btn:focus {
  background-color: var(--blue-for-modal-button);
}

.modal-send-text {
  color: var(--white);
  text-align: center;
  letter-spacing: 0.06em;
  font-family: "Roboto", "Raleway", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  padding-top: 10px;
  padding-bottom: 10px;
  align-self: center;
}

.our-projects {
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.button-list {
  display: flex;
  justify-content: center;
  margin-top: auto;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
}

.flex-for-all-buttons {
  padding-top: auto;
  margin-bottom: 50px;
}

.all-buttons {
  position: relative;
  padding: 6px 22px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  text-align: center;
  color: inherit;
  background-color: var(--white-for-background-buttons);
  cursor: pointer;
  border: 0px;
  border-radius: 4px;
}
.all-buttons:hover, .all-buttons:focus {
  background-color: var(--accent-color);
  color: var(--white-not-transparent);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  transition: background-color var(--transition-duration-function);
}
.all-buttons:not(:last-child) {
  margin-right: 8px;
}

.overlay-projects {
  position: absolute;
  background-color: rgba(33, 150, 243, 0.9);
  padding: 63px 24px;
  font-family: "Roboto", "Raleway", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.55;
  letter-spacing: 0.03em;
  color: #FFFFFF;
  top: 0;
  left: 0;
  height: 100%;
  overflow: auto;
  transform: translateY(100%);
  transition: var(--transition-duration-function);
}

.projects-link {
  display: block;
  text-decoration: none;
}
.projects-link:hover .overlay-projects, .projects-link:focus .overlay-projects {
  transform: translateY(0%);
}

.overlay-for-elements {
  position: relative;
  overflow: hidden;
}

.flex-for-projects {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.projects-list {
  background-color: var(--white-not-transparent);
  justify-content: center;
  align-items: center;
  flex-basis: calc((100% - 60px) / 3);
}
.projects-list:hover, .projects-list:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.borders-for-projects {
  border-left: 1px solid #ececec;
  border-right: 1px solid #ececec;
  border-bottom: 1px solid #ececec;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 24px;
  padding-right: 24px;
}

.projects-caption {
  margin-bottom: 4px;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--black-for-projects);
  text-decoration: none;
}

.projects-desc {
  font-size: 16px;
  line-height: 1.88;
  color: var(--grey);
  text-decoration: none;
}

.left-side-footer {
  margin-right: 70px;
}

.background-footer {
  display: flex;
  align-items: baseline;
  background: var(--background);
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer-address {
  margin-bottom: 9px;
  font-style: normal;
  line-height: 1.71;
  color: var(--white);
  text-decoration: none;
}

.footer-mail-tel {
  font-style: normal;
  line-height: 1.71;
  color: var(--transparent);
  text-decoration: none;
  margin-bottom: 9px;
}

.flex-for-address:not(:last-child) {
  margin-bottom: 9px;
  white-space: nowrap;
}

.all-footer-positions {
  display: flex;
  align-items: baseline;
}

.connection {
  display: flex;
  margin-bottom: 20px;
  justify-content: flex-start;
  font-weight: 700;
  font-style: normal;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--white);
}

.footer-social-list {
  display: flex;
  justify-content: flex-start;
  align-items: baseline;
  column-gap: 10px;
  border-radius: 50%;
}

.footer-social-list-item {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: auto;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  width: 44px;
  height: 44px;
}
.footer-social-list-item:hover, .footer-social-list-item:focus {
  background-color: var(--blue);
  fill: var(--white);
  transition: var(--transition-duration-function);
}

.footer-social-list-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
}

.footer-social-list-icon {
  width: 20px;
  height: 20px;
  fill: var(--white);
}

.footer-sign-up {
  margin-left: auto;
}

.sign-up {
  margin-bottom: 20px;
  justify-content: flex-start;
  font-weight: 700;
  font-style: normal;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--white);
}

.footer-form {
  display: flex;
  flex-direction: row;
}

.footer-form-field {
  display: flex;
  align-items: center;
  margin-right: 12px;
}

.input-styles {
  font-family: "Roboto", "Raleway", sans-serif;
  background-color: transparent;
  width: 358px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 16px;
  outline: none;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: var(--white);
}

.sign-up-btn {
  position: relative;
  width: 200px;
  height: 50px;
  background-color: var(--blue);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border: 0;
  border-radius: 4px;
  padding: 0;
}

.sign-up-text {
  position: absolute;
  display: block;
  color: var(--white);
  text-align: center;
  letter-spacing: 0.06em;
  font-family: "Roboto", "Raleway", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  margin: auto;
  left: 28px;
  top: 10px;
}

.sign-up-icon {
  right: 28px;
  top: 13px;
  position: absolute;
  width: 24px;
  height: 24px;
  display: inline;
  margin: 0 auto;
  fill: var(--white);
}/*# sourceMappingURL=main.css.map */