@import './utils/variables';

@import './base/common';
@import './base/section';
@import './base/container';

@import './components/modal-btn.scss';
@import './components/descriptions';
@import './components/overlays';
@import './components/captions';
@import './components/social-list';
@import './components/icons';

@import './layout/logo';
@import './layout/header';
@import './layout/hero';
@import './layout/activities';
@import './layout/team';
@import './components/backdrop';
@import './components/modal-window';
@import './components/modal-form';
@import './components/modal-window-send-btn';
@import './components/portfolio-btns';
@import './components/portfolio-projects';
@import './layout/footer';
