.activities-caption {
    padding-top: 0;
    margin-bottom: 50px;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.71;
    text-align: center;
    color: inherit;
}

.activities {
    padding-top: 0;
}

@media screen and (max-width:1199px) {
    .activities {
        display: none;
    }
}

.activities-list {
    display: flex;
}

.activities-points {
    flex-basis: calc((100% - 60px) / 3);


&:not(:last-child) {
    margin-right: 30px;
    }
}

.ov-activ-parent {
    position: relative;
}
