.activities {
    padding-top: 0;
}

@media screen and (max-width:1199px) {
    .activities {
        display: none;
    }
}

.activities-list {
    display: flex;
}

.activities-points {
    flex-basis: calc((100% - 60px) / 3);


&:not(:last-child) {
    margin-right: 30px;
    }
}

.ov-activ-parent {
    position: relative;
}