.left-side-footer {
    margin-right: 70px;
}

.background-footer {
    display: flex;
    align-items: baseline;
    background: var(--background);
    padding-top: 60px;
    padding-bottom: 60px;
}

.footer-address {
    margin-bottom: 9px;
    font-style: normal;
    line-height: 1.71;
    color: var(--white);
    text-decoration: none;
}

.footer-mail-tel {
    font-style: normal;
    line-height: 1.71;
    color: var(--transparent);
    text-decoration: none;
    margin-bottom: 9px;
}


.flex-for-address:not(:last-child) {
    margin-bottom: 9px;
    white-space: nowrap;
}

.all-footer-positions {
    display: flex;
    align-items: baseline;
}

.connection {
    display: flex;
    margin-bottom: 20px;
    justify-content: flex-start;
    font-weight: 700;
    font-style: normal;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--white);

}

.footer-social-list {
    display: flex;
    justify-content: flex-start;
    align-items: baseline;
    column-gap: 10px;
    border-radius: 50%;
}

.footer-social-list-item {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: auto;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.1);
    width: 44px;
    height: 44px;

&:hover,
&:focus {
    background-color: var(--blue);
    fill: var(--white);
    transition: var(--transition-duration-function);
    }
}

.footer-social-list-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
}

.footer-social-list-icon {
    width: 20px;
    height: 20px;
    fill: var(--white);
}

.footer-sign-up {
    margin-left: auto;
}

.sign-up {
    margin-bottom: 20px;
    justify-content: flex-start;
    font-weight: 700;
    font-style: normal;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--white);
}

.footer-form {
    display: flex;
    flex-direction: row;
}

.footer-form-field {
    display: flex;
    align-items: center;
    margin-right: 12px;
}

.input-styles {
    font-family: 'Roboto', 'Raleway', sans-serif;
    background-color: transparent;
    width: 358px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 16px;
    outline: none;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.25;
    letter-spacing: 0.03em;
    color: var(--white);
}

.sign-up-btn {
    position: relative;
    width: 200px;
    height: 50px;
    background-color: var(--blue);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border: 0;
    border-radius: 4px;
    padding: 0;
}

.sign-up-text {
    position: absolute;
    display: block;
    color: var(--white);
    text-align: center;
    letter-spacing: 0.06em;
    font-family: 'Roboto', 'Raleway', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    margin: auto;
    left: 28px;
    top: 10px;
}

.sign-up-icon {
    right: 28px;
    top: 13px;
    position: absolute;
    width: 24px;
    height: 24px;
    display: inline;
    margin: 0 auto;
    fill: var(--white);
}