.background-footer {
    text-align: center;
    background-color: #2F303A;
    padding: 60px 0;

    @media screen and (min-width: 1200px) {
        text-align: start;
    }
}

.all-footer-positions {
    width: 100%;
    display: block;
    gap: 60px;
}

@media screen and (min-width: 768px) {
    .all-footer-positions {
        display: flex;
        align-items: baseline;
        flex-wrap: wrap;
        justify-content: space-around;
        row-gap: 60px;
    }
}

// @media screen and (min-width: 768px) {
//     .all-footer-positions {
//         flex-direction: row;
//         align-items: baseline;
//     }
// }

// @media screen and (min-width: 1200px) {
//     .all-footer-positions {
//         display: flex;
//         flex-wrap: nowrap;
//     }
// }

.footer-list {
    display: flex;
    flex-direction: column;
    gap: 8px;
    // list-style-type: none;
    // text-decoration: none;
    // font-style: normal;
    // filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    // padding-left: 0;
    // margin-top: 20px;
    // align-items: center;
}

.footer-address {
    display: block;
    font-style: normal;
    font-size: 14px;
    line-height: 1.71;
    color: var(--white);
    text-decoration: none;
}

.footer-mail-tel {
    display: block;
    font-style: normal;
    font-size: 14px;
    line-height: 1.71;
    color: var(--transparent);
    text-decoration: none;
}

// .flex-for-address:not(:last-child) {
//     margin-bottom: 9px;
//     white-space: nowrap;
// }

@media screen and (min-width: 1200px) {
    .footer-connection {
        margin-left: 70px;
    }
}

.connection {
    margin-top: 60px;
    margin-bottom: 20px;
    justify-content: center;
    font-weight: 700;
    font-style: normal;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--white);

    @media screen and (min-width: 768px) {
        margin-top: 0;
    }
}

.footer-social-list {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.footer-social-list-item {
    margin-bottom: auto;
    flex-basis: calc((100% - 30px) / 4);
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.1);
    max-width: 44px;
    height: 44px;

    &:hover,
    &:focus {
        background-color: var(--blue);
        fill: var(--white);
        transition: var(--transition-duration-function);
    }
}

.footer-social-list-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
}

.footer-social-list-icon {
    width: 20px;
    height: 20px;
    fill: var(--white);
}

@media screen and (min-width: 1200px) {
    .footer-sign-up {
        margin-left: auto;
    }
}

.sign-up {
    margin-top: 60px;
    margin-bottom: 20px;
    font-weight: 700;
    font-style: normal;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--white);

    @media screen and (min-width: 768px) {
            margin-top: 0;
    }
}


.footer-form {
    display: flex;
    flex-direction: column;
    gap: 20px;
    
    @media screen and (max-width: 1199px) {
        flex-direction: row;
        gap: 12px;
    }
}

.input-styles {
    width: 100%;
    height: 50px;
    font-family: 'Roboto', 'Raleway', sans-serif;
    background-color: transparent;
    width: 358px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 16px;
    outline: none;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.25;
    letter-spacing: 0.03em;
    color: var(--white);

    &::placeholder {
            font-size: 16px;
            line-height: 1.25;
            color: rgba(255, 255, 255, 0.6);
        }
    
        @media screen and (min-width: 768px) {
            width: 450px;
        }
    
        @media screen and (min-width: 1200px) {
            width: 358px;
        }
    }

.sign-up-btn {
    position: relative;
    width: 200px;
    height: 50px;
    background-color: var(--blue);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border: 0;
    border-radius: 4px;
    padding: 0;
}

// @media screen and (max-width: 1199px) {
//     .sign-up-btn {
//         margin-top: 20px;
//     }
// }

.sign-up-text {
    position: absolute;
    display: block;
    color: var(--white);
    text-align: center;
    letter-spacing: 0.06em;
    font-family: 'Roboto', 'Raleway', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    margin: auto;
    left: 28px;
    top: 10px;
}

.sign-up-icon {
    right: 28px;
    top: 13px;
    position: absolute;
    width: 24px;
    height: 24px;
    display: inline;
    margin: 0 auto;
    fill: var(--white);
}