.header {
    border-bottom: 1px solid #ececec;
    width: auto;
}

.header__div {
    display: flex;
    align-items: center;
    height: 80px;
}

.navigation__list_item {
    position: relative;

&:not(:last-child) {
    margin-right: 50px;
    justify-content: center;
    align-items: center;
    }
}

.header__navigation {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.header__navigation_list {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.navigation__list_link {
    position: relative;
    padding-top: 32px;
    padding-bottom: 32px;
    align-items: center;
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: inherit;
    text-decoration: none;
    transition: color var(--transition-duration-function);

&:focus,
&:hover {
    color: var(--accent-color);
    }
}

.current {
    color: var(--accent-color);

&::after {
    position: absolute;
    display: block;
    width: 100%;
    height: 4px;
    left: 0;
    bottom: -1px;
    content: '';
    border-radius: 2px;
    background-color: var(--blue);
    }
}

.header__contactlist {
    display: flex;
    margin-left: auto;
    gap: 30px;
}

.header__contactlist_item:not(:first-child) {
    align-items: center;
    margin-left: auto;
}

.contact-link {
    display: flex;
    align-items: center;
    margin-left: auto;
    font-weight: 500;
    padding-top: 32px;
    padding-bottom: 32px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--grey);
    text-decoration: none;
    transition: color var(--transition-duration-function);

&:hover,
&:focus {
    color: var(--blue);
    }
}

.contact-link_smartphone {
    width: 10px;
    height: 16px;
    margin-right: 10px;
    fill: currentColor;
    transition: fill var(--transition-duration-function);
}

.contact-link_envelope {
    width: 16px;
    height: 12px;
    margin-right: 10px;
    fill: currentColor;
    transition: fill var(--transition-duration-function);

&:hover .envelope,
&:focus .envelope {
    fill: var(--blue);
}
}