.hero {
    text-align: center;
    max-width: 1660px;
    margin: 0 auto;
    color: var(--white-not-transparent);
    background-color: var(--background);
    padding: 200px 0;
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url('../img/hero-img/mob/hero-img_mob.png');
    margin: 0 auto;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

// screen
// 2x+
// 0px - 767px

@media screen and (min-device-pixel-ratio: 2) and (max-width: 767px),
screen and (min-resolution: 192dpi) and (max-width: 767px),
screen and (min-resolution: 2dppx) and (max-width: 767px) {
    .hero-image {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
        url('../img/hero-img/mob/hero-img_mob@2x.png');
    background-size: cover;
    max-width: 1600px;
    margin-right: auto;
    margin-left: auto;
    }
}

/* 
768px +
*/
@media screen and (min-width: 768px) {
    .hero-image {
        background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
                url('../img/hero-img/tab/hero-img_tab.png');
    }
}

/* 
screen
2x +
768px +
*/
@media screen and (min-device-pixel-ratio: 2) and (min-width: 768px),
screen and (min-resolution: 192dpi) and (min-width: 768px),
screen and (min-resolution: 2dppx) and (min-width: 768px) {
    .hero-image {
        background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url('../img/hero-img/tab/hero-img_tab@2x.png');
    }
}

/* 
1200px +
*/
@media screen and (min-width: 1200px) {
    .hero-image {
        background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url('../img/hero-img/desktop/hero-img_desktop.png');
    }
}

/* 
2x +
1200px +
screen
*/
@media screen and (min-device-pixel-ratio: 2) and (min-width: 1200px),
screen and (min-resolution: 192dpi) and (min-width: 1200px),
screen and (min-resolution: 2dppx) and (min-width: 1200px) {
    .hero-image {
        background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url('../img/hero-img/desktop/hero-img_desktop@2x.png');
    }
}