.header__logo-web {
    display: flex;
    padding-top: 24px;
    padding-bottom: 24px;
    align-items: center;
    margin-right: 93px;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    color: var(--blue);
    text-decoration: none;
}

span {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    color: var(--black);
    text-decoration: none;
}

.for-logo {
    margin-bottom: 20px;
}

.logo-web-footer {
    font-style: normal;
    align-items: center;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    color: var(--blue);
    text-decoration: none;
}

.logo-studio-footer {
    margin-bottom: 20px;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    color: var(--white-not-transparent);
    text-decoration: none;
}