.team {
    background: var(--background-for-section-team)
}

.team__list {
    display: flex;
    justify-content: center;
    align-items: center;
}

.team__list_members {
    background-color: var(--white);
    flex-basis: calc((100% - 90px) / 4);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;

&:not(:last-child) {
    margin-right: 30px;
    }
}

.team__layout {
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
}