.solutions-main-caption {
    width: 696px;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
    margin-top: auto;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--white);
}

.benefits-caption {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.benefits-list {
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.benefits {
    margin-bottom: 10px;
    justify-content: center;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
    color: inherit;
}

.benefits-points:not(:last-child) {
    margin-right: 30px;
}

.activities-caption {
    padding-top: 0;
    margin-bottom: 50px;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.71;
    text-align: center;
    color: inherit;
}

.team__main-caption {
    margin-bottom: 50px;
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    color: inherit;
}

.team__item {
    margin-bottom: 10px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.16;
    text-align: center;
    color: inherit;
}