.benefits-description {
    line-height: 1.71;
    color: var(--grey);
}

.team__item_position {
    margin-bottom: 16px;
    font-size: 16px;
    line-height: 1.18;
    text-align: center;
    color: var(--grey);
}