.ben-vect {
    display: flex;
    flex-basis: calc((100% - 90px) / 4);
    gap: 30px;
}

.vector-item {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 270px;
    height: 120px;
    margin-bottom: 30px;
    background-color: #F5F4FA;
    border-radius: 4px;
}

.benefits-vectors {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.item {
    display: block;
    width: 70px;
    height: 70px;
}

.regular-customer {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
    font-family: 'Roboto', 'Raleway', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;

}

.cust-vect {
    display: flex;
    flex-basis: calc((100% - 150px) / 6);
    gap: 30px;
}

.customer-list {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.customer-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 170px;
    height: 92px;

&:hover .each-item,
&:focus .each-item {
    fill: var(--blue);
    transition: var(--transition-duration-function);
    }
}

.each-item {
    display: block;
    fill: var(--another-grey);
    width: 106px;
    height: 60px;
    position: absolute;
}

.customer-item {
    border: 1px solid var(--another-grey);
    border-radius: 4px;
    fill: var(--another-grey);
    background-color: var(--white);
    transition: border var(--transition-duration-function);

&:hover,
&:focus {
    border: 1px solid var(--blue);
    border-radius: 4px;
    }
}