.mobile-menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 999;
    background-color: #ffffff;

    transition: var(--transition-duration-function);

    visibility: hidden;
    opacity: 0;
    pointer-events: none;
}

.mobile-menu.is-open {
    visibility: visible;
    opacity: 1;
    pointer-events: auto;
    transition: var(--transition-duration-function);
}

.close-mobile-menu-btn {
    position: absolute;
    top: 10px;
    right: 15px;
    border: none;
    padding: 0;
    background-color: transparent;
    line-height: 0;
    width: 40px;
    height: 40px;
}

.close-mobile-menu-btn__icon {
    width: 19px;
    height: 19px;
}

.mob-menu__div {
    display: block;
}

.mobile-menu__container {
    position: relative;
    padding: 48px 40px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.mob-menu__navigation_list_item {
    font-family: 'Roboto', 'Raleway', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 40px;
    line-height: 1.18;
    letter-spacing: 0.02em;
    color: #212121;
}

.mob-menu__navigation_list_link {
    display: block;
    padding-bottom: 32px;
    position: relative;
    align-items: center;
    font-family: 'Roboto', 'Raleway', sans-serif;
    font-style: normal;
    font-size: 40px;
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: inherit;
    text-decoration: none;
    transition: color var(--transition-duration-function);

    &:focus,
    &:hover {
        color: var(--accent-color);
    }

    .current {
        color: var(--accent-color);
    }
}

.mob-menu__contactlist {
    display: block;
    margin-top: auto;
    margin-bottom: 64px;
}

.mob-menu__contactlist_tel {
    font-family: 'Roboto', 'Raleway', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 34px;
    line-height: 1.18;
    letter-spacing: 0.02em;
    color: #2196F3;
    padding-bottom: 32px;
}

.mob-menu__contactlist_mail {
    font-family: 'Roboto', 'Raleway', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 1.17;
    letter-spacing: 0.02em;
    color: #757575;
}

.mob-menu__contact-link_tel {
    font-family: 'Roboto', 'Raleway', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 34px;
    line-height: 40px;
    letter-spacing: 0.02em;
    color: #2196F3;
}

.mob-menu__contact-link_mail {
    font-family: 'Roboto', 'Raleway', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    letter-spacing: 0.02em;
    color: #757575;
}

.mob-menu__social-list {
    display: flex;
}

.mob-menu__social-list_link {
    &:not(:last-child) {
        margin-right: 10px;
        padding-right: 10px;
        border-right: 1px solid rgba(33, 33, 33, 0.2);
    }
}

.mob-menu__social-item {
    font-family: 'Roboto', 'Raleway', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    letter-spacing: 0.02em;
    color: #2196F3;
}