.modal {
    position: absolute;
    padding: 40px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--white);
    width: 528px;
    height: 581px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
}

.modal-close-icon {
    width: 11px;
    height: 11px;
    fill: var(--black);
}

.modal-close-button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    box-sizing: border-box;
    background-color: transparent;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    padding: 0;
    position: absolute;
    top: 8px;
    right: 8px;

&:hover .modal-close-icon,
&:focus .modal-close-icon {
    fill: var(--blue);
    transition: var(--transition-duration-function);
    }
}