h1,
h2,
h3,
p {
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

button {
    font-family: inherit;
    font-size: inherit;
    cursor: pointer;
}

body {
    font-family: 'Roboto', 'Raleway', sans-serif;
    color: #212121;
    font-size: 14px;
    letter-spacing: 0.03em;
    background-color: #ffffff;
}

ul,
ol {
    margin: 0;
    padding: 0;
    list-style: none;
}